body {
    margin: 0;
    overflow: hidden;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(8, 7, 7);
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #f00; /* Red */
  text-shadow: 2px 2px 4px #00f;
}

.content p {
    font-size: 24px;
    margin-bottom: 30px;
    color: #007bff; 
  text-shadow: 2px 2px 4px #f00;  
  font-style: italic;
}

.content button {
    padding: 15px 30px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #1e1d1d;
    border-radius: 15px;
}
.content button:hover{
    padding: 15px 30px;
    background-color: #f00; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #1e1d1d;
    border-radius: 15px;
    text-decoration: underline; 
}